<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyConString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=Y3NPC;Initial Catalog=TESTDB;User ID=y3n;Password=M@ely3n;" />
  </connectionStrings>
</configuration>